* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #EAEAEA;
    background-color: #060C2C;
    overflow-x: hidden;
    
}

h1 {
    color: #6BC1A4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}

h2 {
    color: #EAEAEA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

h3 {
    color: #EAEAEA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

p {
    color: #EAEAEA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}



@media (width >= 900px) {
    

    .container {
        display: grid;
        grid-template-rows: 1fr 2fr 50px;  
        /* grid-template-rows: 1fr 2fr; */
        grid-template-columns: 2fr 5fr 1fr;
        height: 100vh; 
        column-gap: 25px;
        row-gap: 25px;
        overflow: hidden;
    }

    .navbar {
    text-align: center;
    grid-column: 1 / 4;
    display: block;
    padding: 40px 0;
    
    }

    .name {
    justify-content: center; 
    justify-items: center;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    padding: 40px 0;
    display: block;
    font-size: 1.5em;
    }

    .content {
    display: box;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    grid-row: 2 / 4;
    }

    .content::-webkit-scrollbar {
    display: none;
    }


    .name a:link, a:visited {
    
    background-color: #323550;
    color: #EAEAEA;
    text-decoration: none;
    border-radius: 5px;
    width: 12rem;
    padding: 0.3em 1em;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    }

    li {
        list-style-type: none;
        display: block;
        justify-content: center; 
        justify-items: center;
        text-align: center;
    }

    .footer {
    background-color: #060C2C;
    width: 100%; 
    display: flex;
    
    align-items: center;
    padding: 20px 0px 20px 20px;
    grid-column: 1;
    grid-row: 3;
}
    
}

@media (width < 900px)
{
    .container {
        display: grid;
        grid-template-rows: 1fr 1fr 7fr; 
        grid-template-columns: 1fr 5fr 1fr;
        height: 100vh; 
        column-gap: 25px;
        row-gap: 25px;
        margin-top: 1em;
    }

    .navbar {
    text-align: center;
    grid-column: 2;
    display: block;
    /* padding: px 0; */
    font-size: 1em;
    }

    h1, h2 {
        font-size: 2em;
    }

    .name {
    justify-content: center; 
    /* justify-items: center; */
    text-align: center;
    grid-column: 2;
    padding: 40px 0;
    display: inline-block;
    font-size: 1.5em;
    position:sticky;
    }

    .name a:link, a:visited {
        background-color: #323550;
        color: #EAEAEA;
        text-decoration: none;
        border-radius: 5px;
        width: 6em;
        padding: 0.3em 1em;
        display: flex;
        margin-bottom: 1em;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }

    
    li {
        list-style-type: none;
        display: inline-block;
        justify-content: center;
        text-align: center;
        padding: 0.1em;
    }

    .content {
        display: box;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        grid-column: 2; 
    }

    .content::-webkit-scrollbar {
    display: none;
    }

    


    .footer {
    background-color: #060C2C;
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 0 20px;
    grid-column: 1 / 3;
    grid-row: 4;
    margin-top: auto;
    margin-bottom: 1em;
    padding: 20px 0px 20px 20px;
}

    
    
}

.navbar h1,h2 {
    display:inline;
}



.name a:hover {
    background-color: #6BC1A4;
}

.name a:active {
    background-color: #6BC1A4;
}

.name .current a {
    background-color: #EAEAEA;
    color: #323550;
}


.content p {
    font-size: 1.5em;
}

.content a:-webkit-any-link {
        color: #EAEAEA;
    }

.company {
    color: #6BC1A4
}
