{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">

{% block content %}
<div class="container">
    <nav class="navbar">
        <h2>Hello, my name is</h2>
        <h1>Jacob</h1><br>
         <a href="https://github.com/jacbroberts" target="_blank">
            <img src="{% static 'home/github-mark-white.svg' %}" alt="My GitHub" width="26px"></a>
        <a href="https://www.linkedin.com/in/jacobaroberts" target="_blank">
            <img src="{% static 'home/In-White-48@2x.png' %}" alt="LinkedIn" width="26px"></a>
        <a href="https://bsky.app/profile/jacobroberts.us" target="_blank">
            <img src="{% static 'home/bluesky_media_kit_logo_transparent_96.png' %}" alt="BlueSky" width="26px"></a>
    </nav>
    <div class="name">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a class="current" href="/education">Education</a></li>
            <li><a href="/experience">Experience</a></li>
        </ul>
        
    </div>
    <div class="content">
        
        <h2 class="company">Mississippi State University</h2>
        <h3>Master of Science, Computer Science</h3>
        <br>
        <p>I am currently pursing a Master of Science in Computer Science at Mississippi State Unviversity.
            I am doing a thesis based masters with a concentration in Artificial Intelligence.
        </p>
        <br>
        <h2 class="company">Mississippi State University</h2>
        <h3>Bachelor of Science, Computer Science</h3>
        <br>
        <p>I graduated with a Bachelor of Science in Computer Science from Mississippi State University.
            
        </p>
        
    </div>
    <div class="footer">
        <p id="copyYear">&copy</p>
    </div>
</div>
<script src="{% static 'home/home.js' %}"></script>

{% endblock %}
