{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">

{% block content %}

    
    <div class="content">
        <p>
            I am currently pursuing my Master of Science in Computer Science at Mississippi State University. 
            Upon graduation in May 2026, I will be seeking full-time software engineering roles in automotive, robotics, machine learning, and backend.
        </p><br>

        <p>
            This portfolio is version controlled on my <a href="https://github.com/jacbroberts/portfolio/tree/main" target="_blank">GitHub</a>.
        </p>
        
    </div>
    

{% endblock %}
